<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <script src="js/vue.js" type="text/javascript"></script>
	</head>

	<body>
      <div id="app">
        <p>{{message}}</p>
      </div>
	</body>

  <script>
    new Vue({
      el : '#app',
      data :  {
        message: "Hello Vue."
      }
    })
  </script>
</html>
