<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="js/vue.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="app">
      json: {{ people }}<br />
      {{ people.age}}<br />
      {{ people.sex }}<br />
    </div>
  </body>

  <script>
  var v = new Vue({
    el: "#app",
    data: {
      people : {
        name : "tony",
        age : 18,
        sex : "man"
      }
    }
  });
  </script>
</html>
