<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			{{info}}<br>
			{{info}}<br>
			{{info}}<br>
			{{info}}<br>
			{{info}}<br>
			{{info}}<br>
			<hr>
			<input type="text" id="info" v-model="info"/>
		</div>
	</body>
	<script>
		var vm = new Vue({
			el: "#app",
			data:{
				info: "北京欢迎您"
			}
		})
	</script>
</html>
