<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			{{msg}}
			<div v-text="msg"></div>
			<div v-html="msg"></div>
		</div>
	</body>
	<script>
		new Vue({
			el: "#app",
			data: {
				msg: "<font color='red'>hello vue.</font>"
			}
		})
	</script>
</html>
